[submodule ".vim/pack/plugins/start/vim-polyglot"]
    path = .vim/pack/plugins/start/vim-polyglot
    url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/pack/colors/opt/everforest"]
    path = .vim/pack/colors/opt/everforest
    url = https://github.com/sainnhe/everforest.git
[submodule ".vim/autoload/airline/vim-airline"]
    path = .vim/pack/dist/start/vim-airline
    url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/vendor/start/nerdtree"]
    path = .vim/pack/vendor/start/nerdtree
    url = https://github.com/preservim/nerdtree.git
