[submodule ".vim/pack/colors/opt/everforest"]
    path = .vim/pack/colors/opt/everforest
    url = https://github.com/sainnhe/everforest.git
[submodule ".vim/pack/plugins/start/vim-polyglot.git"]
    path = .vim/pack/plugins/start/vim-polyglot
    url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/autoload/airline/vim-airline.git"]
    path = .vim/autoload/airline/vim-airline
    url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/vendor/start/nerdtree.git"]
    path = .vim/pack/vendor/start/nerdtree
    url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/tpope/start/fugitive.git"]
    path = ~/.vim/pack/tpope/start/fugitive
    url = https://tpope.io/vim/fugitive.git
